/* background establish for game*/

body { 

    background-image: url(../images/mine.png);
    text-align: center;
    

}

/* adjusting .jumbotron settings*/

.jumbotron {

    background: linear-gradient(rgb(224, 203, 107), rgb(148, 122, 18));
    padding-bottom: .5rem;
    padding-top: 0;
    opacity: .9;
    color: rgb(7, 6, 88);
    font-family: 'Aclonica', sans-serif;
    text-align: center;
    
}

/*styling specific text in jumbotron*/
.lead {

    color: black;
    opacity: none;
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: x-large;
}

/* style h2*/
h2 {

    display: inline-block;
    vertical-align: top;
    color: rgb(231, 186, 103);
    font-family: 'Aclonica', sans-serif;
    margin-left: 3%;
    padding-top: 1%;

    
}


.crystal-image {

    height: 15%;
    width: 15%;


}